html, body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  opacity: 0.3;
  background-image:  linear-gradient(135deg, #545567 25%, transparent 25%), linear-gradient(225deg, #545567 25%, transparent 25%), linear-gradient(45deg, #545567 25%, transparent 25%), linear-gradient(315deg, #545567 25%, #141425 25%);
  background-position:  12px 0, 12px 0, 0 0, 0 0;
  background-size: 12px 12px;
  background-repeat: repeat;
}

.center-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: solid black;
  border-right: solid black;
}

.pete {
  height: 100px;
  width: 100px;
  mix-blend-mode: multiply;
}

.kanye {
  height: 100px;
  width: 100px;
  mix-blend-mode: multiply;
}

.top-message {
  height: 20%;
  margin-top: 0%;
  font-size: 30px;
}

.game-board-container {
  height: 70%;
  width: 70%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: lightgreen;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 2em;
}

.right-border {
  border-right: 0.4em solid blue
}

.bottom-border {
  border-bottom: 0.4em solid blue
}



